doctype html 
html(lang="en")
    include includes/head.pug
    body
        include includes/nav.pug
        span.bg-gray-100.text-gray-800.text-xs.font-medium.mr-2.rounded-md(class='px-2.5 py-0.5') Dark